@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// $yellow: #FFCE5B;
// $yellow: #FFBD23;
// $yellow: #FFBE28;
$yellow: #FFC747; .yellow {color: $yellow;}

// $blue: #4391E0;
$blue: #479AFF; .blue {color: $blue;}
$light-blue: #B5D8FF; .light-blue {color: $light-blue;}
$dark-blue: #0029A6; .dark-blue {color: $dark-blue;}
$black: #242424; .black{color: $black;}
$light-gray: #DDDDDD; .light-gray{color: $light-gray;}
$white: 	#F7F7F7; .white{color: $white;}

body {
	margin: 0;
	padding: 0;
	// background-color: #F9F9F9;
	background-color: #EAEAEA;
	font-family: 'Source Sans Pro';
}

.lexhack{
}
.lexhack::before{
	content:"Lex";
	color:$black;
}
.lexhack.white::before{
	content:"Lex";
	color:$white;
}
.lexhack::after{
	content:"Hack";
	color:$yellow;
}
.lexhack.black::after{
	content:"Hack";
	color:$black;
}


.logo {
	// font-family: 'Source Sans Pro';
	color: $black;

	// color: #0A0A0A;
	font-family: Montserrat;
	font-size: 4em;
	font-weight: bold;
	line-height: 0.6em;
	letter-spacing: -0.06em;
	// margin-bottom: 0.4em;
	// -0.02em
}

a {
	color: $blue;
}


#intro {
	font-size: 26px;
	text-align: center;
	padding: 260px 50px;
	// padding-top: 150px;
	// background-color: white;
	margin: 0 auto;
	// margin-top: 100px; 
	// width: 60%;
	// background-color: rgba(242, 242, 242, 0.8);
	background-color: rgba(64,64,64,0.6);
	// background-color: #fcfcfc;
	font-family: 'Source Sans Pro';
	a.link {
		color: $light-blue;
	}
}

section {
	font-size: 24px;
	background-color: #EAEAEA;
	color: #444;
	padding-bottom: 2em;
	p {
		// margin-top: 2em;
	}
	.block-img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
}

.content {
	width: 60%;
	margin: 0 auto;
	line-height: 1.4em;
}

#description {
	// color: #222;
	color: #E0E0E0;

	// line-height: 0.4em;
	p {
		margin: 0.1em;
	}
}

nav {
	height: 80px;
	z-index: 1;
	background-color: $light-blue;
	position: relative;
	// background-color: #3371B7;
	box-shadow: 0 2px 14px rgba(128, 128, 128, 0.4);
	a {
		color: white;
	}
}

.img-container {
	position: absolute;
	top: 0;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	z-index: -1;
	background-color: black;
	.bg {
		position: fixed;
		min-height: 900px;
		min-width: 100%;
		-webkit-filter: blur(2px);
		z-index: -1;
		opacity: 0.5;
	}
}

header {
	// color: #222;
	// color: $yellow;
	background-color: $yellow;
	font-family: Montserrat;
	padding: 1.6em 0;
	h1 {
		margin: 0;
		font-size: 2.4em;
	}
	text-align: center;
}

.button {
	border-radius: 5px;
	text-decoration: none;
	border: none;
	color: $white;
	font-weight: bold;
	background-color: $black;
	font-family: 'Source Sans Pro';
	&:hover {
		cursor: pointer;
		color: $yellow;
	}
}

#main-button {
	padding: 0.8em;
	display: inline-block;
	font-family: Montserrat;
	font-size: 1em;
	margin-top: 1.6em;
	letter-spacing: -0.01em;
	// transition: color 300ms;
	box-shadow: inset 0 -1px 7px #444;
	&:active {
		box-shadow: inset 0 1px 7px #444;
	}
}

#mc_embed_signup {
	font-size: 24px;	
}

#mc_embed_signup_scroll {
	font-family: 'Source Sans Pro';
	label {
		font-size: 1em;
		text-align:center;
		line-height:.3em;
		display: block;
		margin: 1em 0;
	}
	width: 100%;
}

#mce-EMAIL {
	font-family: 'Source Sans Pro';
	font-size: 1em;
	padding: 1em;
	// margin: 0;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 0.6em;
}

#mc-embedded-subscribe {
	font-size:1.5em;
	padding: .5em;
	width: 100%;
	letter-spacing: +0.02em;
}
